{% extends "base.html" %}

{% block content %}
    <h1>Commute Log</h1>

    <div id="clock">
	00:00:00
    </div>

    <div class="commute-buttons">
	<form action="{{ url_for('start_commute') }}" method="POST">
	    <button type="submit">Start Commute</button>
	</form>

	<form action="{{ url_for('end_commute') }}" method="POST">
	    <button type="submit">End Commute</button>
	</form>
    </div>

    <div id="mileage">
	<form action="" method="post">
	    {{ form.hidden_tag() }}
	    <p>
		{{ form.mileage.label }}<br>
		{{ form.mileage(size=32) }}<br>
		{% for error in form.mileage.errors %}
		<span style="color: red;">[{{ error }}]</span>
		{% endfor %}
	    </p>
	    <p>{{ form.submit() }}</p>
	</form>
    </div>

    <script src="{{ url_for('static', filename='clock.js') }}"></script>

{% endblock %}
